//classes only for debug

//font declaration
*{
    font-family:@fontFamily;
    font-weight:@fontWeight;
    font-size:@fontSizeBase;
    line-height: 1.5em;
}
//clear some styles
h1,h2,h3,h4,.bold,.caption,.italic{
        word-spacing: normal;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; *behavior: url(../fallback/boxsizing.htc);
}

.debug{
    background: #ededed;
    box-shadow: inset 0 0 0 1px #fff;
   
}

.row{
    max-width: @max-width;
    margin: 0 auto;
    padding: @distanceBase 0;
    text-align: left;
    word-spacing: -0.3em;
    
    &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.grid-base-style{
  width: 100%;   
  display: inline-block;
  padding: @distanceBase;
  position: relative;
  word-spacing: normal;
  vertical-align: top;
  min-width: 0em;
  text-align: left;
  word-wrap: break-word;
    
}

/* Attribute selector */
[class*='large-'],[class*='medium-'],[class*='small-']{
  .grid-base-style;
}

.sub-row{
    .grid-base-style;
    
    &:after {
    content: "";
    display: table;
    clear: both;
    }
}

/* Main Widths */

.width-1  {width:8.3338%;}
.width-2  {width:16.66667%;}
.width-3  {width:25%;}
.width-4  {width:33.33334%;}
.width-5  {width:41.66667%;}
.width-6  {width:50%;}
.width-7  {width:58.33333%;}
.width-8  {width:66.66667%;}
.width-9  {width:75%;}
.width-10 {width:83.33333%;}
.width-11 {width:91.66667%;}
.width-12 {width:100%;}

@media all and(min-width:@largeBreakPoint){
    .large-1  {.width-1;}
    .large-2  {.width-2;}
    .large-3  {.width-3;}
    .large-4  {.width-4;}
    .large-5  {.width-5;}
    .large-6  {.width-6;}
    .large-7  {.width-7;}
    .large-8  {.width-8;}
    .large-9  {.width-9;}
    .large-10 {.width-10;}
    .large-11 {.width-11;}
    .large-12 {.width-12;}
}

@media all and(max-width:@mediumBreakPoint) and(min-width:@smallBreakPoint){
    .medium-1  {.width-1;}
    .medium-2  {.width-2;}
    .medium-3  {.width-3;}
    .medium-4  {.width-4;}
    .medium-5  {.width-5;}
    .medium-6  {.width-6;}
    .medium-7  {.width-7;}
    .medium-8  {.width-8;}
    .medium-9  {.width-9;}
    .medium-10 {.width-10;}
    .medium-11 {.width-11;}
    .medium-12 {.width-12;}
}

@media all and(max-width:@smallBreakPoint){
    .small-1  {.width-1; padding: @distanceBase 1em;}
    .small-2  {.width-2; padding: @distanceBase 1em;}
    .small-3  {.width-3;}
    .small-4  {.width-4;}
    .small-5  {.width-5;}
    .small-6  {.width-6;}
    .small-7  {.width-7;}
    .small-8  {.width-8;}
    .small-9  {.width-9;}
    .small-10 {.width-10;}
    .small-11 {.width-11;}
    .small-12 {.width-12;}
}

.sub-row,
.large-1,.large-2,.large-3,.large-4,.large-5,.large-6,.large-7,.large-8,.large-9,.large-10,.large-11,.large-12,
.medium-1,.medium-2,.medium-3,.medium-4,.medium-5,.medium-6,.medium-7,.medium-8,.medium-9,.medium-10,.medium-11,.medium-12,
.small-1,.small-2,.small-3,.small-4,.small-5,.small-6,.small-7,.small-8,.small-9,.small-10,.small-11,.small-12{
    *{
        padding: 0;
    }
}

//text-alignment

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.small-align-center{
    text-align: center;
}

.medium-align-center{
    text-align: center;
}

.large-align-center{
    text-align: center;
}

.small-align-left{
    text-align: left;
}

.medium-align-left{
    text-align: left;
}

.large-align-left{
    text-align: left;
}

.small-align-right{
    text-align: right;
}

.medium-align-right{
    text-align: right;
}

.large-align-right{
    text-align: right;
}

//paddings

.additional-padding{
    padding: @distanceBase;
}

.additional-padding-top{
    padding-top: @distanceBase;
}

.additional-padding-top-bottom{
    padding: @distanceBase 0;
}
.additional-padding-left-right{
    padding: 0 @distanceBase;
}
.additional-padding-bottom{
    padding-bottom: @distanceBase;
}

.somall-additional-padding{
    padding: @distanceBase / 2;
}

.small-additional-padding-top{
    padding-top: @distanceBase / 2;
}

.small-additional-padding-bottom{
    padding-bottom: @distanceBase / 2;
}

.remove-padding{
    padding: 0;
}
