
//header styles
.header{
    background: @evidenceColor;
    color: @light-color ;
    overflow: hidden;
    margin-bottom: @distanceBase;
    
}

.header-content{
    max-width: @max-width;
    margin: 0 auto;
    padding: (@distanceBase / 2) @distanceBase;
    
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    
}

.header-element{
    display: block;
    line-height: 1.5em;
    vertical-align: middle;
    font-size: 1em;
}


.logo{
    
    float: left;

}

.mobile-menu{
    @media all and(min-width:@largeBreakPoint){
	display: none;
    }
    float: right;
    cursor: pointer;
    i{
        padding-left: @distanceBase / 4;
    }
}

//mobile navigation
@media all and(max-width:@mediumBreakPoint){

	.mobile-navigation{
	    z-index: -1;
	    overflow-y: hidden;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: margin-top 0.5s;
            -moz-transition: margin-top 0.5s;
            -ms-transition: margin-top 0.5s;
            -o-transition: margin-top 0.5s;
            transition: margin-top 0.5s;
	    
	}
        
	.mobile-navigation.opened {
	    margin-top: 0;

	}

}


/*some visual styles*/
.border-break-title{
    border-bottom: 1px dotted @bordersColor;
    word-spacing: normal;
    padding-bottom: @distanceBase / 2;
}

.caption{
    font-size: 12px;
    color: lighten(@evidenceColor, 50%);
    @media all and(max-width:@mediumBreakPoint){
        padding-top: @distanceBase;
        display: block;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}


//inline lists
.inline-list{
    display: block;
    	@media all and(max-width:@mediumBreakPoint){
	margin-left: @distanceBase * -1;
    }
}
.inline-list li{
    list-style: none;
    float: left;
    padding-left: @distanceBase;
    &:first-child{
	@media all and(min-width:@mediumBreakPoint){
	padding-left:0;
	}

    }
}


//side navigation

.side-navigation{

    li{
	list-style: none;
	border-bottom: 1px dotted @bordersColor;
	padding-bottom: @distanceBase / 4;
	margin-bottom: @distanceBase / 4;
	text-decoration: none;
    }
    
    .title{
	border-bottom: none;
    }
    
    ul{
	margin-bottom: @distanceBase;
    }
}
//code highlight
.code-highlighter{

    font-size: 0.8em;
    background: lighten(@evidenceColor, 95%);
    border: 1px solid lighten(@evidenceColor, 85%);
    padding: @distanceBase;
    border-radius: @distanceBase / 4;
    margin: @distanceBase 0;
    overflow-x: auto;
    font-family:"monaco","helvetica",sans-serif;
    }