

//colors
@evidenceColor : #000;
@light-color : #fff;

//spaces
@distanceBase : 20px;
@distanceSmall : 1%;
@distanceMedium : 2%;
@distanceLarge : 3%;

//media queries breakpoints

@largeBreakPoint : 50em;
@mediumBreakPoint : 50em;
@smallBreakPoint : 39.99999em;

