
//colors
@evidenceColor : #000;
@light-color : #fff;

//spaces
@distanceBase : 1.250em;
@distanceSmall : 1%;
@distanceMedium : 2%;
@distanceLarge : 3%;



//fonts
@fontFamily: "Open Sans","helvetica",sans-serif;
@fontWeight: 300;
@fontSizeBase: 16px;
//media queries breakpoints


@max-width : 80em;
@largeBreakPoint : 48em;
@mediumBreakPoint : 48em;
@smallBreakPoint : 43em;

